.form {
  max-width: 40%;
  padding: 2rem;
  margin: 0 auto;

  &__footer-link,
  &__footer-link:link,
  &__footer-link:visited {
    &:hover {
      text-decoration: underline;
    }
  }
}

.checkbox-container {
  display: flex;
}

.checkbox-group > label {
  display: block;
}

.checkbox-group {
  &:not(:last-child) {

    margin-right: 1rem;
  }
}


@media only screen and (max-width: 800px) {
  .form {
    max-width: 60%;
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .form {
    max-width: 80%;
  }
}