.is-centered {
  text-align: center;
  margin: 0 auto;
}

.is-bold {
  font-weight: bold !important;
}

.text-blue {
  color: $color-dblue !important;
}

.text-green {
  color: $color-dgreen !important;
}

.text-orange {
  color: $color-dorange !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn {
  margin: 0 1rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .btn {
    margin: 0;
    width: 100% !important;
  }
}