.is-centered {
  text-align: center;
  margin: 0 auto;
}

.is-bold {
  font-weight: bold !important;
}

.text-blue {
  color: $color-dblue !important;
}

.text-green {
  color: $color-dgreen !important;
}

.text-orange {
  color: $color-dorange !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.button {
  margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
  .button {
    margin: 0;
    width: 100% !important;
  }
}